@model CreateCustomPageModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input type="text" asp-for="Title" />

        <textarea asp-for="HtmlContent" id="content"></textarea>

        <input type="submit" value="Create" />
    </div>
}
@section Scripts {
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/lib/tinymce/tinymce.js"></script>
    <script>
        tinymce.init({
            selector: '#content',
            height: 500
        });
    </script>
}