@model AddCampaignModel

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4" style="margin-bottom:20px;">
            <div class="row">
                <span>Name: </span>
                <div class="col-md-12" style="margin-bottom:5px">
                    <input asp-for="Name" class="form-control ms-0" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-bottom:20px;">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom:5px">
                        <span>StartDate: </span>
                    </div>
                    <div class="col-md-12" style="margin-top: -5px;">
                        <input asp-for="StartDate" class="form-control ms-0" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-bottom:20px;">
            <div class="row">
                <div class="col-md-12" style="margin-bottom:5px">
                    <span>EndDate: </span>
                </div>
                <div class="col-md-12" style="margin-top: -5px;">
                    <input asp-for="EndDate" class="form-control ms-0" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-bottom:20px;">
            <div class="row">
                <div class="col-md-12" style="margin-bottom:5px">
                    <span>DiscountRate: </span>
                </div>
                <div class="col-md-12" style="margin-top: -5px;">
                    <input asp-for="DiscountRate" class="form-control ms-0" />
                    <span asp-validation-for="DiscountRate" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-bottom:20px;">
            <div class="row">
                <div class="col-md-12" style="margin-bottom:5px">
                    <span>Products: </span>
                </div>
                <div class="col-md-12" style="margin-top: -5px;">
                    <select asp-for="Products" asp-items="@ViewBag.Products" class="form-control">
                    </select>
                    <span asp-validation-for="Products" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success btn-block">Oluştur</button>
        </div>
    </div>

</form>
